/* // <uniquifier>: Use a unique and descriptive class name

.montserrat-<uniquifier > {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
// <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

section {
  padding: 4em 0;
}

header {
  background-color: #2e323f;
  padding: 1em 0;
  text-align: center;
}
img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}
/* --------------------------------------------------------------------------------- */
.header-section {
  background-color: #3b4050;
  color: white;
}
.header-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
}

.header__title--break {
  color: #a59678;
}

.header-content {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

.learn-btn {
  background-color: #a59678;
  padding: 0.3em 1em;
  border-radius: 100px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.25rem;
}

/* ----------------------------------------------------------------------- */

.content-section-one {
  text-align: center;
  background-color: rgb(238, 238, 238);
}
.content-section-one-header {
  color: #a59678;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
}
.content-section-one-text {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}
/* ----------------------------------------------------------------------- */
.content-section-two-main-header {
  color: #a59678;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.content-section-two-main-text {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

.content-section-two-elem-div {
  text-align: center;
  background-color: #2e323f;
  color: #fff;
  padding: 1.2em 1.5em;
  margin-bottom: 1em;
}
.content-section-two-elem-header {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.content-section-two-elem-text {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}
/* ----------------------------------------------------------------------- */
.footer {
  background-color: #3b4050;
  color: #6f737f;
  text-align: center;
}
.footer-title {
  padding-top: 3em;
  color: #fff;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.footer-content-header {
  margin-top: 2.5em;
  color: #a59678;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.footer-content-text {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

.last-footer .footer-content-text:last-child {
  margin-bottom: 0;
  padding-bottom: 4em;
}
/* ----------------------------------------------------------------------- */
.logo {
  height: 30px;
}
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav-visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.nav {
  /* width: 100%; */
  margin-top: 1em;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  visibility: hidden;
  height: 0;
  position: absolute;
}
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.hamburger {
  width: 50%;
  position: relative;
}
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #6f737f;
  color: white;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}
.nav__item {
  margin-bottom: 1em;
  font-size: 1.25rem;
}
.nav__link {
  text-decoration: none;
  color: white;
}
.nav__link--button {
  background-color: #a59678;
  padding: 0.3em 1em;
  border-radius: 100px;
}
@media (min-width: 722px) {
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: flex;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .nav__item {
    margin: 0;
    margin-left: 2.5em;
  }
  .nav__list {
    display: flex;
    margin: 0;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-row {
    align-items: flex-end;
  }
  /* ----------------------------------------------------- */

  .header-title {
    font-size: 5.625rem;
  }
  .header-content {
    font-size: 1.5rem;
  }
  .learn-btn {
    font-size: 1.5rem;
  }
  .header-section {
    gap: 12em;
  }
  .col {
    width: 100%;
  }
  .change-self {
    margin-top: 2.5em;
  }
  /* ------------------------------------------------------- */
  .content-section-one-header {
    font-size: 1.875rem;
  }
  .content-section-one-text {
    font-size: 1.125rem;
  }
  .increase-gap {
    gap: 6em;
  }
  /* ---------------------------------------------------------- */

  .content-section-two-main-header {
    font-size: 2.25rem;
  }
  .content-section-two-main-text {
    font-size: 1.3125rem;
  }
  .content-section-two-elem-header {
    font-size: 1.875rem;
  }
  .content-section-two-elem-text {
    font-size: 1.125rem;
  }

  .col-one {
    width: 70%;
  }
  .col-two {
    align-self: baseline;
    width: 30%;
  }
  .change-for-media {
    gap: 4em;
  }
  /* ------------------------------------------------------------- */
  .footer-flex {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap:2em
  }
  .footer-title {
    margin-top: 0;
  }


@media (min-width: 700px) and (max-width: 1000px) {
  .change-for-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .change-direction {
    display: flex;
    gap: 1em;
  }
  .increase-gap {
    display: block;
  }
  .content-section-one-header {
    font-size: 2rem;
  }
  .content-section-one-text {
    font-size: 1.5rem;
  }
}
